.dnd-droppable {
  @apply transition-colors;
}

.dnd-draggable {
  @apply rounded-md max-w-[160px];

  &.dnd-isDragging {
    @apply rounded-md shadow;
  }
}

#app-teams {
  .dnd-droppable {
    @apply min-h-[300px] bg-black/50 rounded-xl px-4 py-2 border-4 border-black opacity-80;

    div:first-child .app-player::after {
      @apply text-xl text-yellow-700 ml-auto;
      content: "★";
    }

    div:nth-child(5) .app-player::after {
      @apply text-xl text-slate-400 ml-auto;
      content: "★";
    }

    &.dnd-isDraggingOver {
      @apply bg-cyan-600/30;
    }

    &.app-highlight {
      @apply border-cyan-400 opacity-100;

      div:first-child .app-player::after {
        @apply animate-spin text-2xl text-amber-600;
        animation-duration: 4000ms !important;
      }
    }
  }

  .dnd-draggable {
    @apply my-2 bg-gradient-to-b from-white to-gray-300;
  }
}

#app-playerpool {
  .dnd-draggable {
    @apply text-white;
  }
}

#app-playerpool,
#app-teams {
  .dnd-draggable:hover,
  .dnd-draggable.dnd-isDragging {
    @apply bg-gradient-to-b from-white to-yellow-100 shadow text-black;
  }

  .dnd-draggable.dnd-isDragging {
    @apply to-yellow-400;
  }
}

.app-draft-status-completed {
  .app-controls {
    @apply opacity-0;
  }

  #app-teams .dnd-droppable {
    @apply opacity-100;

    $colors:
      "rose", "cyan", "purple", "emerald", "blue", "amber", "green", "orange",
      "lime", "gray", "pink", "violet";

    @for $i from 1 through length($colors) {
      $color: nth($colors, $i);
      &:nth-child(#{$i}) {
        @apply bg-#{$color}-600/50;
      }
    }
  }

  #app-playerpool .app-player {
    @apply grayscale opacity-60;
  }
}
