@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import "tailwind";
@import "app";

body {
  background: black url(../static/img/wallpaper.jpg) no-repeat;
  background-size: cover;
  font-family: "Boogaloo", cursive, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.debug {
  border: 1px solid red;

  > * {
    border: 1px solid yellow;
  }
}
