.app-header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, #306),
    #000 url(static/img/getquad_logo.png) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100px;
}

/* Team container */
.app-teams-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  user-select: none;
  overflow: hidden;
}

/* Team */
.app-team {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: black;
  border: 10px solid black;
}

.app-draft-status-in-progress .app-team {
  opacity: 60%;
}

.app-team-droppable {
  min-width: 320px;
  min-height: 120px;
  transition: background-color 250ms ease-in;
  padding: 1em 1em 24px;
  flex: 1 0 100%;
}

.app-team-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: background-color, border, opacity 250ms ease-in;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.app-draft-status-in-progress .app-team-highlight {
  opacity: 100%;
  border: 10px solid yellow;
}


/* Player pool */
.app-team-id-playerPool {
  margin: 1.5em auto 0;
  flex: 0 0 94%;
  opacity: 100% !important;
}

.app-team-id-playerPool > .app-team-droppable {
  display: flex;
  flex-flow: row wrap;
}

.app-team-id-playerPool > .app-team-droppable .app-player {
  width: auto;
  margin-right: 1em;
}

.app-team-id-playerPool .app-team-droppable.app-dnd-dragover {
  background: black;
}

/* Player */
.app-player {
  width: 240px;
}

.app-player-draggable {
  cursor: grabbing !important;
  font-size: 1.5rem;
  color: #345;
  border: 2px solid white;
  background-color: #fff;
  transition: background-color, width 250ms ease-in;
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: #444 2px 2px 8px;
}

.app-player-draggable.app-dnd-drag {
  background-color: yellow !important;
}

.app-player-content {
  min-height: 48px;
  padding: 0 0.6em;
  display: flex;
  align-items: center;
}

.app-player-flag {
  margin-right: 0.5rem;
}

/* Custom Teams/Themes */
.app-team-theme .app-team-title {
  background: no-repeat center center;
  background-size: contain;
  min-height: 180px;
  color: transparent;
}

.app-team-theme .app-player:first-child .app-player-content:after {
  margin-left: auto;
  font-size: 1.2em;
  content: "\2605"; /* Star in UTF8 */
  color: goldenrod;
}

.app-team-theme-666 {
  background-color: darkred;
}

.app-team-theme-666 .app-team-title {
  background-color: #280909;
  background-image: url(static/img/team_666.jpg);
}

.app-team-theme-666 .app-player-content {
  background: linear-gradient(180deg, white, #fcc);
}

.app-team-theme-777 {
  background-color: darkblue;
}

.app-team-theme-777 .app-team-title {
  background-color: #0e1a34;
  background-image: url(static/img/team_777.jpg);
}

.app-team-theme-777 .app-player-content {
  background: linear-gradient(180deg, white, skyblue);
}
