/* App */
.app {
  padding: 16px 32px 0;
}

.app-controls {
  margin-bottom: 12px;
  color: #fff;
  font-size: 1.4rem;
}

.app-controls a {
  color: darkmagenta;
  text-decoration: none;
}
.app-controls a:hover {
  color: magenta;
}

.app-controls .app-text-highlight {
  color: cyan;
}

/* Team container */
.app-teams-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  user-select: none;
  justify-content: space-between;
}

/* Team */
.app-team {
  flex-flow: column nowrap;
  transition: background-color 250ms ease-in;
}

.app-draft-status-in-progress .app-team-title {
  opacity: 50%;
}

.app-team-droppable {
  min-width: 320px;
  min-height: 120px;
  transition: background-color 250ms ease-in;
  padding: 1em 1em 24px;
  flex: 1 0 100%;
}

.app-team-title {
  transition: opacity 250ms ease-in;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.app-draft-status-in-progress .app-team-highlight .app-team-title {
  opacity: 100%;
}

.app-draft-status-in-progress .app-team-highlight {
  border-color: cyan;
  background-color: rgba(0, 255, 255, 0.4);
}

/* Player pool */
.app-team-id-playerPool {
  margin-top: 24px;
  padding: 16px 32px 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  flex: 0 1 100%;
}

.app-draft-status-completed .app-team-id-playerPool > .app-team-title,
.app-draft-status-completed .app-team-id-playerPool .app-player {
  opacity: 0.3 !important;
}

.app-team-id-playerPool > .app-team-title {
  opacity: 100% !important;
}

.app-team-id-playerPool > .app-team-droppable {
  display: flex;
  flex-flow: row wrap;
}

.app-team-id-playerPool > .app-team-droppable .app-player {
  margin-right: 0.6em;
}

/* Player */
.app-player {
  width: 184px;
}

.app-player-draggable {
  cursor: grabbing !important;
  font-size: 1.5rem;
  color: #345;
  margin-bottom: 0.6rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: #444 2px 2px 8px;
  transition: background-color, width 250ms ease-in;
}

.app-player-draggable.app-dnd-drag {
  background-color: yellow !important;
}

.app-player-content {
  min-height: 36px;
  padding: 0 0.4em;
  display: flex;
  align-items: center;
}

.app-player-flag {
  margin-right: 0.5rem;
}

/* Custom Teams/Themes */
.app-team-theme {
  flex: 0 0 13%;
  min-height: 600px;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  border: 5px solid black;
  box-shadow: 0 0 12px black;
  border-radius: 1em;
}

.app-team-theme .app-team-droppable {
  background-color: rgba(0, 0, 0, 0.5);
}

.app-team-theme .app-team-droppable.app-dnd-dragover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-team-theme .app-team-title {
  background: no-repeat center center;
  background-size: cover;
  height: 74px;
  color: transparent;
}

.app-team-theme .app-player:first-child .app-player-content:after,
.app-team-theme .app-player:nth-child(5) .app-player-content:after {
  margin-left: auto;
  font-size: 1.2em;
  content: "\2605"; /* Star in UTF8 */
  color: goldenrod;
}

/* begin div2 */
.app-team-theme .app-player {
  opacity: 0.75;
}

.app-team-theme .app-player:nth-child(n + 5) {
  opacity: 1;
}
.app-team-theme .app-player:nth-child(5) {
  margin-top: 2em;
}
.app-team-theme .app-player:nth-child(5) .app-player-content:after {
  color: #999;
}

.app-team-highlight .app-player:nth-child(5) .app-player-content {
  background: linear-gradient(180deg, lightyellow, yellow);
  color: black;
}

/* end div2 */

.app-team-theme .app-player-content {
  background: linear-gradient(180deg, white, #ccc);
}

.app-team-theme-Rotfish .app-team-title {
  background-image: url(static/img/Getquad_squad1.png);
}

.app-team-theme-Spawn .app-team-title {
  background-image: url(static/img/Getquad_squad2.png);
}

.app-team-theme-Enforcer .app-team-title {
  background-image: url(static/img/Getquad_squad3.png);
}

.app-team-theme-Shambler .app-team-title {
  background-image: url(static/img/Getquad_squad4.png);
}

.app-team-theme-Fiend .app-team-title {
  background-image: url(static/img/Getquad_squad5.png);
}

.app-team-theme-Zombie .app-team-title {
  background-image: url(static/img/Getquad_squad6.png);
}

.app-team-theme-Ogre .app-team-title {
  background-image: url(static/img/Getquad_squad7.png);
}
