/*@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");*/
@import "tailwindcss";

body {
    @apply bg-black bg-cover bg-center bg-no-repeat;
    background-image: url(/assets/img/qhlan2026_bg.webp);
    font-family:
        "Quantico",
        /*"Boogaloo",*/ cursive,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.debug {
    border: 1px solid red;

    > * {
        border: 1px solid yellow;
    }
}
